{namespace newsPager=Tx_ExtbasePager_ViewHelpers}
<div class="tx_t3notes_listView">
<f:if condition="{showErrorMessage} == 1">
	{errorMessage}
</f:if>
<f:for each="{dataArray}" as="currentEntry" key="counter">
	<div class="newsListItem clearfix">
		<f:if condition="{currentEntry.photoAvailable}">
			<img border="0" title="" alt="" src="/index.php?eID=tx_cabagphpproxy&tx_cabagphpproxy_keyword=newsDetail&addStringFromGETorPOST={currentEntry.PhotoPreviewURL}">
		</f:if>
		<span class="newsListDate">{currentEntry.Publikation}</span><br />
		<span class="newsListTitle">
			<a href="/index.php?eID=tx_cabagphpproxy&tx_cabagphpproxy_keyword=newsDetail&addStringFromGETorPOST={currentEntry.DocURL}" target="_blank">
				{currentEntry.Titel}
			</a>
		</span>
		<a href="/index.php?eID=tx_cabagphpproxy&tx_cabagphpproxy_keyword=newsDetail&addStringFromGETorPOST={currentEntry.DocURL}" target="_blank">
			<p class="bodytext">{currentEntry.Teaser}</p>
		</a>
		<span class="newsListMore">
			<a href="/index.php?eID=tx_cabagphpproxy&tx_cabagphpproxy_keyword=newsDetail&addStringFromGETorPOST={currentEntry.DocURL}" target="_blank">
				<f:translate key="list_more" />
			</a>
		</span>
	</div>
</f:for>
<f:if condition="{lastPage} > 1">
	<newsPager:pager lastPage="{lastPage}" typoscript="{settings.pager}" localLang="EXT:t3notes_news/Resources/Private/Language/locallang.xml" />
</f:if>
</div>